In [5]:
import pandas as pd
pd.DataFrame({'A': [1, 2, 3]})

   A
0  1
1  2
2  3

In [6]:
import numpy as np

In [13]:
nums = np.array([1, 3, 5, 7, 9])
num_2 = nums + 2
print(f"Array after adding 2: {num_2}")

Array after adding 2: [ 3  5  7  9 11]

In [14]:
num_3 = nums * 3
print(f"Array after multiplying by 3: {num_3}")

Array after multiplying by 3: [ 3  9 15 21 27]

In [11]:
array_sum = np.sum(nums)
array_max = np.max(nums)
array_mean = np.mean(nums)

In [12]:
print(f"Sum: {array_sum}")
print(f"Maximum Value: {array_max}")
print(f"Mean: {array_mean}")

Sum: 25
Maximum Value: 9
Mean: 5.0