### creating a NumPy

In [1]:
import numpy as np

In [2]:
nums= np.array([1,3,5,7,9])
print("array:",nums)

array: [1 3 5 7 9]

### add 2 to each element

In [3]:
nums_2=nums + 2
print("add_array:",nums_2)

add_array: [ 3  5  7  9 11]

### multiply each element by 3

In [4]:
nums_3=nums * 3
print("multiplied_array:",nums_3)

multiplied_array: [ 3  9 15 21 27]

### find and print sum

In [5]:
nums =np.sum(nums)
print(nums)

25

### find and print the max value

In [6]:
nums=np.max(nums)
print(nums)

25

### find and print mean

In [7]:
nums=np.mean(nums)
print(nums)

25.0